quiita_nodeflow1
[{"id":"c95e2319.682ca","type":"ui_template","z":"fed80273.344ea","group":"659436a.275c5c8","name":"カメラから画像をキャプチャ","order":7,"width":0,"height":0,"format":"<div>\n<md-button ng-click=\"send({payload:action()})\">Capture</md-button>\n<br/>\n<video id=\"player\" controls autoplay style=\"width: 320px; height: 240px; border: 1px solid black;\"></video>\n<br/>\n<canvas id=\"snapshot\" width=320 height=240></canvas>\n\n<script type=\"text/javascript\">\n  var player = document.getElementById('player'); \n  var snapshotCanvas = document.getElementById('snapshot');\n  var captureButton = document.getElementById('capture');\n  //let videoTracks;\n\n  var handleSuccess = function(stream) {\n    // Attach the video stream to the video element and autoplay.\n    player.srcObject = stream;\n    //videoTracks = stream.getVideoTracks();\n  };\n  navigator.mediaDevices.getUserMedia({video: true})\n      .then(handleSuccess);\n</script>\n<script type=\"text/javascript\">\nthis.scope.action = function() {\n    var context = snapshotCanvas.getContext('2d');\n    // Draw the video frame to the canvas.\n    context.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);\n    return snapshotCanvas.toDataURL().split(\",\")[1];\n    //return snapshotCanvas.toBlob();\n}\n</script>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":200,"y":100,"wires":[["272c312f.ad2c0e"]]},{"id":"d4b234b3.53c928","type":"debug","z":"fed80273.344ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":220,"wires":[]},{"id":"7349b79.b623448","type":"opencv","z":"fed80273.344ea","detect":"FACE_CASCADE","output":"buffer","name":"OpenCV 顔認識","x":280,"y":220,"wires":[["d78badc0.ae575","d4b234b3.53c928"]]},{"id":"4be75564.525e7c","type":"ui_template","z":"fed80273.344ea","group":"659436a.275c5c8","name":"HTMLインライン画像の表示","order":8,"width":0,"height":0,"format":"<div style=\"height: 320px; width: 240px\">returnPicture\n<img src=\"data:image/low;base64,{{msg.payload}}\"\n width='320'\n height='240'\n id='img'\n alt='getting image'\n />\n </div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":340,"wires":[[]]},{"id":"272c312f.ad2c0e","type":"base64","z":"fed80273.344ea","name":"","action":"","property":"payload","x":220,"y":160,"wires":[["7349b79.b623448"]]},{"id":"d78badc0.ae575","type":"base64","z":"fed80273.344ea","name":"","action":"","property":"payload","x":320,"y":280,"wires":[["4be75564.525e7c"]]},{"id":"b0cc5567.3f6ff8","type":"comment","z":"fed80273.344ea","name":"ブラウザから画像取得例","info":"ブラウザから画像取得例","x":150,"y":40,"wires":[]},{"id":"659436a.275c5c8","type":"ui_group","z":"","name":"take","tab":"a027ef17.8edd","disp":true,"width":"6","collapse":false},{"id":"a027ef17.8edd","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard"}]
